= form_for sessions_path do |f|
  = f.text_field :username, placeholder: "Username"
  %br
  = f.password_field :password, placeholder: "Password"
  %br
  = f.submit :src => 'http://i.imgur.com/iRRFxmB.png', :type => 'image', :height => '45%', :width => '45%'