/ %meta{content: "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi", name: "viewport"}/
%div#game-container
  = javascript_include_tag "gameinitializer.js"
