@media only screen and (max-width: 640px) {
	.container {
	  /*width: 640px;
	  height: 1120px;*/
	  font-family:'pxl';
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 100%;
	  min-height: 100%;
	  z-index: -1;
	  background-image: url(http://i.imgur.com/RkSLAiK.jpg);
	  background-size: cover;
	}
}

/*Browser Cpu*/
@media only screen and (min-width: 630px) {
	.container {
	  width: 630px;
	  height: 1120px;
	  font-family:'pxl';
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	/*  min-width: 100%;
	  min-height: 100%;*/
	  z-index: -1;
	  background-image: url(http://i.imgur.com/RkSLAiK.jpg);
	  background-size: cover;
	}
}

