.container {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  /*background-repeat: repeat-x;*/
  background-image: url(http://i.imgur.com/RkSLAiK.jpg);
  background-size: cover;
}

.button {
  margin-top: 23em;
}

.dragon {
  margin-top: 2.5em;
}